@font-face {
  font-family: interphases;
  src: url(fonts/TT\ Interphases\ Pro\ Trial\ Light.ttf);
}
@font-face {
  font-family: interphases;
  src: url(fonts/TT\ Interphases\ Pro\ Trial\ DemiBold.ttf);
  font-weight: bold;
}

* {
  font-family: interphases;
}

body {
  background-color: #e4e7ec;
  margin: 0;
}

main {
  display: flex;
  width: 100vw;
  /* height: 100vh; */
}
#main-body {
  min-width: 45vw;
  /* padding: 5rem; */
  /* display: inline; */
  margin: 0;
}
#body-content {
  width: 60%;
  margin: 70px auto;
  margin-bottom: 240px;
  padding-top: 20px;
}

#img-div {
  width: 100%;
  /* min-width: 80%; */
}
#image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#main-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  /* margin-bottom: -40px; */
  padding: 0 30px;
}
#main-head div img {
  vertical-align: middle;
}

#contact-us {
  display: inline;
}

h2 {
  margin-top: 5em;
  font-size: 1.5rem;
  margin-bottom: 6px;
}

p {
  font-size: 0.7em;
}

#description {
  margin-top: 0;
  margin-bottom: 20px;
}

p a {
  font-weight: bold;
  color: #1d2939;
}

button {
  border-radius: 4px;
  background-color: #1d2939;
  color: #e4e7ec;
  border-color: #1d2939;
  font-size: 0.7em;
  height: 1.5rem;
  /* margin-top: 10px; */
}
button img {
  vertical-align: middle;
}

#resend {
  display: inline;
  vertical-align: middle;
  margin-left: 15px;
}

#bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

@media (max-width: 600px) {
  main {
    display: block;
  }
  #img-div {
    display: none;
  }
  #first-input {
    display: block;
  }
  #input-1,
  #input-2 {
    width: 100%;
  }
  #main-head {
    margin-top: 40px;
  }
  #body-content {
    margin: 80px auto;
    margin-bottom: 260px;
  }
  #bottom {
    padding-top: 0px;
  }
}
